<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./views/css/style.css">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">Trí nè!</h2>
            </div>
            <div class="menu">
                <ul>
                    <li><a herf="http://localhost:3000/">HOME</a></li>
                    <li><a herf="#">ABOUT</a></li>
                    <li><a herf="#">SERVICE</a></li>
                    <li><a herf="#">DESIGN</a></li>
                    <li><a herf="#">CONTACT</a></li>
                </ul>
            </div>
            <div class="search">
                <input class="srch" type="search" name="" placeholder="text to search">
                <a herf="#"><button class="btn">Search</button></a>
            </div>
        </div>
        <div class="content">
            <h1>Nguyễn Minh Trí <br><span>Nhi Lê team</span><br>WEB TEAM</h1>
            <p class="par">Sinh ngày 22-8-2001
                <br> Học tại Cần Thơ University , khoa CNTT-TT, ngành CNTT, năm cuối
                <br> Thường trú tại Cần Thơ , quê quán An Giang
                <br></p>
                <p class="par">Ngôn Ngữ : Java (Java Spring Boot), python, flutter...
                    <br> Chứng chỉ : chứng chỉ web và mobile tại Đh Funix
                    
                    <br> Kĩ Năng : tiếng Anh (Ielts 5.5), thuyết trình , hát hay, coding ,làm việc, nhóm kĩ năng mềm,...
                    <br> Học tại Cần Thơ University , khoa CNTT-TT, ngành CNTT, năm cuối
                    <br></p>
                
            <form action="/insert" method="post">
                <div class="form">
                    <h2>Contact Here</h2>
                    <input type="text" name="name" placeholder="Enter name Here">
                    <input type="email" name="email" placeholder="Enter Email Here">
                    <input type="tel" name="tel" placeholder="Enter Phone Here">
                    <input type="text" id="contact" name="Contact" placeholder="Enter Contact Here">
                    <button class="btnn"><a href="#">Login</a></button>
                    <p class="link">Don't have an account?
                    <a href="#">Sign up </a>here</p>
                    <p class="liw">Log in here</p>
                    <div class="icon">
                        <a href="/facbook"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a href="/instagram"><ion-icon name="logo-instagram"></ion-icon></a>
                        <a href="/github"><ion-icon name="logo-github"></ion-icon></a>
                        <a href="/skype"><ion-icon name="logo-skype"></ion-icon></a>
                    </div>
                </div>
            </form>
            
            
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>